@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

/* Custom Properties & Global Rules */
:root {
  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);

  --width-mobile: 375px;
  --width-desktop: 1440px;

  --font-large: 32px;
  --font-small: 11px;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-large);
}

/* Class bases rules */
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: var(--font-small);
}

/* Element rules */
